<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        namespace命名空间，包名+SQL映射文件名-->
<mapper namespace="com.mybatis.mapper.ProductInfoMapper">
    <select id="finProductInfoById" parameterType="int" resultType="productInfo">
        select * from product_info where tid = #{id}
    </select>
</mapper>