<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        namespace命名空间，包名+SQL映射文件名-->
<mapper namespace="com.mybatis.mapper03.TypeMapper">
    <delete id="deleteTypeById" parameterType="int">
        delete
        from product_info
        where tid = #{id};
        delete
        from type
        where id = #{id};
    </delete>

<!--    <select id="findTypeById" parameterType="int" resultType="type" resultMap="typeMap">-->
<!--        select *-->
<!--        from type-->
<!--        where id = #{id}-->
<!--    </select>-->
<!--    <resultMap id="typeMap" type="type">-->
<!--        <id property="id" column="id"></id>-->
<!--        <result property="name" column="name"></result>-->
<!--        <collection property="pis" column="id"-->
<!--                    select="com.mybatis.mapper03.ProductInfoMapper.finProductInfoById">-->
<!--        </collection>-->
<!--    </resultMap>-->

    <insert id="addType" parameterType="type" keyProperty="id" useGeneratedKeys="true">
        insert into type(name) values (#{name})
    </insert>
</mapper>